<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hello, Django</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />
</head>

<body>
  {{ static }}
  <h1><span class="message">Hello there, {{ name }}!</span> It's {{ date | date:"l, d F, Y" }} at {{ date | time:"H:i:s" }}</h1>
</body>

</html>